%ul
  - if comments && !comments.empty?
    .table-responsive
      %table.table
        %thead
          %tr
            %th Submitter
            %th Comment
            %th Event
            %th Conference
            %th Posted At
          - comments.each do |comment|
            %tbody
              %tr
                - if comment.user
                  %td= comment.user.name
                - else
                  %td Unknown Submitter
                %td= link_to h(truncate(comment.body, :length => 80)), admin_conference_event_path(comment.commentable.conference.short_title, comment.commentable_id)
                %td= link_to comment.commentable.title, admin_conference_event_path(comment.commentable.conference.short_title, comment.commentable)
                %td= link_to comment.commentable.conference.title, admin_conference_path(comment.commentable.conference.short_title)
                %td= comment.created_at
  - else
    %h5.text-warning.text-center
      No submissions!
